extends layout

block content
  h1= title
  p Welcome to #{title}
  meta(http-equiv='refresh', content='5; url="http://security.softsky.com.ua"').

  You will be redirected in 5 seconds. If not, click here: <a href="http://security.softsky.com.ua"/>SOFTSKY Site Scanner</a>