extends layout

block content
  h1= title
  p Welcome to #{title}
  meta(http-equiv='refresh', content='5; url="https://softsky.typeform.com/to/KlHAZe"').

  You will be redirected in 5 seconds. If not, click here: <a href="https://softsky.typeform.com/to/KlHAZe"/>Register and get your site scanned</a>
