// project/views/email.jade

html
  doctype html
  head
    title Дякуємо за вашу заявку. Звіт генерується.
    body
      h4.h4 #{name}, привіт!
      p
        | Дякуємо за Вашу заявку!
      p
        | Генерація звіту займе де-який час.
        br
        | Поки що дозвольте пояснити Вам, якими можуть бути Ваші подальші дії після отримання звіту.
      p
        | У 80% випадків ми знаходимо проблеми. Вам необхідно звернутись до розробників
        a(href=website) #{website}
        |  і до свого системного адміністратора, вказати їм на проблеми, котрі ми знайшли і виправити їх.
        | Це важливо для безпеки Вашого сайту.
      h3.h3 Ми наполегливо рекомендуємо
        a(href='http://security.softsky.com.ua#purchase-audit') замовити розширений аудит
        |  вашого сайту або севреру.
      p
        strong За безпеку потрібно платити. Хто не платить за безпеку сьогодні, завтра розплачується (
          i Ф. Рузвельт
          |)
      br
      | З повагою,
      br
      | --
      br
      | Колектив
      strong Сайт Скан
